@import "tailwindcss";

#root {
  height: 100%;
  width: 100%;
  font-family: "Funnel Sans";
  font-weight: 500;
}

html,
body {
  margin: 0;
  padding: 0;
}

@theme {
  --color-text: var(--brand-text);
  --color-sub-text: var(--brand-sub-text);
  --color-primary: var(--brand-primary);
  --color-primary-dark: var(--brand-primary-dark);
  --color-bg: var(--brand-bg);
  --color-bg-dark: var(--brand-bg-dark);
  --color-bg-light: var(--brand-bg-light);
  --color-secondary: var(--brand-secondary);
}

:root,
[data-theme="default-dark"] {
  --brand-text: oklch(96.115% 0.1 271.152);
  --brand-sub-text: oklch(69.581% 0.06667 271.388);
  --brand-primary: oklch(64.479% 0.18972 262.213);
  --brand-primary-dark: oklch(39.591% 0.14558 261.383);
  --brand-bg: oklch(17.764% 0.00002 271.152);
  --brand-bg-dark: oklch(25.066% 0.01612 252.481);
  --brand-bg-light: oklch(32.546% 0.02674 262.597);
  --brand-secondary: oklch(79.519% 0.16532 69.523);
}
